
.container01{
  display:flex;
  flex-direction: column;
  max-width: 80%;
  margin-inline: 2rem;
}



 .box-pic{
  display:flex;
  flex-direction:column;
  max-width: 80%;
}



figure figcaption{
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

.refs{
  width: 70%;
  margin:0 auto;
}



  @media only screen and (min-width: 601px) and (max-width:1024px) {
    body {
      background-color: burlywood;
      margin: 0 1rem ;
      font-size:17px;
    }

    .box-pic{
      display:flex;
      flex-direction:row;
      max-width: 100%;
      justify-content: center;
      
    }

    .container01{
      display:flex;
      flex-direction: row;
      margin:0 auto;
    }

  
    .box1{
      width: 90%;
      margin: 10px;
    }
    .box2{
      width:90%;
      margin: 15px;
    }
}



  @media only screen and (min-width: 1025px) {
    body {
      background-color: #fbf3d4f0;
      font-size:20px;
    }

    .box-pic{
      display:flex;
      flex-direction:row;
      max-width: 100%;
      justify-content: center;
      
    }


    .container01{
      display:flex;
      flex-direction: row;
      width:60%;
      margin:0 auto;
 
}

.box1{
  width: 70%;
  margin: 20px;
  gap: 5rem;
}
.box2{
  width:70%;
  margin: 20px;
}
    }



