.pics-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    text-align: end;

    
}


.pic{
   text-align: center;
  
    
}
.pic1{
   
}


/* 
RAY LOOK
https://www.w3schools.com/cssref/tryit.php?filename=trycss3_flex_responsive */


