
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  button{
    margin-bottom: 1.2rem;
  }
h1{
  color: rgb(73, 65, 65);
}
  h2{
margin-top:  2rem;
  }
  

  .para{
    max-width: 70%;
    margin-left: 20%;
    margin-right: 10%;
  }

  .end-ref{
    text-align: center;
  }

  .row-pics{
    display:flex;
    justify-content: center;
    gap:5rem;
    margin-top: 2.5rem;
   
    
  }

  .row-pics-1{
    border: .5rem solid brown;
  }
 
  .row-pics-2{
    border: .5rem solid brown;
  }