
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  button{
    margin-bottom: 1.2rem;
  }
h1{
  color: rgb(73, 65, 65);
}
  h2{
margin-top:  2rem;
  }
  

  .para{
    max-width: 70%;
    margin-left: 20%;
    margin-right: 10%;
    padding-bottom: 1rem;
  }

  .end-ref{
    text-align: center;
  }



  .row-pics-grid{
    display:grid;
    align-items:baseline;
    gap: 1.5rem;
    grid-template-columns:1fr;
    width:min(95%, 70rem);
    margin-inline:auto;
  

  
   
    
  }

  .row-pic-1{
   
    justify-self: center;
    border: .2rem ridge rgba(28, 24, 14, 0.429);
    background: rgba(28, 24, 14, 0.429);
  }
 
  .row-pic-2{
    justify-self: center;
    border: .2rem ridge rgba(28, 24, 14, 0.429);
    background:rgba(28, 24, 14, 0.429);
  }

  .row-pic-3{
    justify-self: center;
    border: .2rem ridge rgba(28, 24, 14, 0.429);
    background:rgba(28, 24, 14, 0.429);
   
  }


  @media only screen and (min-width: 768px) {
    .row-pics-grid{
      display:grid;
      align-items:center;
      gap: 1.5rem;
      grid-template-columns:1fr 1fr 1fr;
      width:min(95%, 70rem);
      margin-inline:auto;
      width:80%
    
  
    
     
      
    }

  }
  /* END MQ */