
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }



a {
  text-decoration: none;
  color: black;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: rgb(219, 233, 219);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}


  button{
    margin-bottom: 1.2rem;
  }
h1{
  color: rgb(73, 65, 65);
}
  h2{
margin-top:  5rem;
  }
  

  .para{
    max-width: 70%;
    margin-left: 20%;
    margin-right: 10%;
    padding-bottom: 1rem;
  }

  .end-ref{
    color: rgb(41, 41, 77);
    margin-top: 7rem;
    display:grid;
  
  
    
    
  }

  .end-ref-video{
    justify-self: center;
  }

  .end-ref-book {
    width:70%;
    margin-inline: 5rem;
    margin-bottom: 5rem;

  }



  .row-pics-grid{
    display:grid;
    align-items:center;
    gap: 1.5rem;
    grid-template-columns:1fr;
    width:min(95%, 70rem);
    
  }

  .row-pic-1{
    display:flex;
    grid-column:span 1;
    justify-self: center;
    border: .2rem ridge rgba(28, 24, 14, 0.429);
    background: rgba(28, 24, 14, 0.429);


  }

  .row-pic-1 div{
    max-width: 7rem;
    margin-left: 1rem;
    color: antiquewhite;
    align-self: center;
    font-size: smaller;
    font-style: italic;
    
  }
 
  .row-pic-2{
    display:flex;
    grid-column:span 1;
    justify-self: center;
    border: .2rem ridge rgba(28, 24, 14, 0.429);
    background:rgba(28, 24, 14, 0.429);
  }

  .row-pic-2 div{
    max-width: 7rem;
    margin-left: 1rem;
    color: antiquewhite;
    align-self: center;
    font-size: smaller;
    font-style: italic;
    
  }

  .row-pic-3{
    grid-column:span 1;
    justify-self: center;
    border: .2rem ridge rgba(28, 24, 14, 0.429);
    background:rgba(28, 24, 14, 0.429);
   
  }

  .row-pic-3 div{
    max-width: 100%;
    margin-left: 1rem;
    color: antiquewhite;
    align-self: center;
    font-size: smaller;
    font-style: italic;
    
  }

  .row-pic-3 div p{
    margin-top: 1rem;
  }


  @media only screen and (min-width: 768px) {
    .row-pics-grid{
      display:grid;
      align-items:center;
      gap: 1rem;
      grid-template-columns:1fr 1fr 1fr;
      margin-inline:auto;
      
    
  
    
     
      
    }

  }
  /* END MQ */