* {
  box-sizing:border-box;
}
body{
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  background-color: lightblue;
  }

.h1-pl-16{
  padding-left:16px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0f8ee9;
  color: white;
}

.topnav .icon {
  display: none;
}




  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align:left;
  }



.intro{
  display:flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1,h2{
    text-align: center;
  }



.container2{
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows:minmax(200px, 250px);
  row-gap: .4em;
  column-gap: .4em;
  margin-inline: .4em;
}

.item{
  display:flex;
  flex-direction: column;
  margin-top:1rem;
  position: relative;
}


.item1{
  background-image: url('../img/FredMum4SisCol.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:top;
}

.span1{
  font-size: 1.6rem;
  -webkit-text-stroke: black 1px;
  position: absolute;
  bottom: 8px;
  right: 36px;
  font-weight: 700;
  background-color: rgba(15, 142, 233, 0.4);
}

.span1 > a{
  text-decoration: none;
  color: yellow;
}
.item2{
  background-image: url('../img/Madis_Famili.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:top;
  background-attachment: local; 
}
.item3{
  background-image: url('../img/KillKulaks.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: top;
}
.item4{
  background-image: url('../img/VasCowCoL.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  }
.item5{
  background-image: url('../img/orfansCol.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.item6{
  background-image: url('../img/LeninGrd-350px.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:top;
}
.item7{
  background-image: url('../img/EstiiSoldierCol350w.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:top;
  background-attachment:scroll;
}
.item8{
  background-image: url('../img/EestiSS.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:scroll;
}
.item9{
  background-image: url('../img/Aliide_Col111.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  background-attachment:scroll; 
}
.item10{
background-image: url('../img/recruitCol300.jpg');
background-repeat: no-repeat;
background-size:contain;
background-position:center;
background-attachment:scroll;
}
.item11{
    background-image: url('../img/Fred2sisColL.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    background-attachment:scroll;
  }
  .item12{
    background-image: url('../img/fredrecruit.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    background-attachment:scroll;
  }

/* ---------MQ ------------MQ---------------------- */

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  body {
    background-color: lightblue;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align:left;
  }
} */


  @media only screen and (min-width: 601px) and (max-width:1024px) {
    body {
      background-color: burlywood;
      margin: 0 1rem ;
      
    }

    .container2{
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows:minmax(150px, 350px);
      column-gap: 1em;
      row-gap: 1em;
    }

    .intro{
      display:flex;
      flex-direction: column;
      margin-left: 16%;
      margin-right: 16%;
    }


    
  }

  @media only screen and (min-width: 1025px) and (max-width:1200px){
    body {
      background-color: rgb(204, 170, 236);
    }
    .container2{
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows:minmax(250px, 370px);
      column-gap: 1.5em;
      row-gap: 1.5em;
    }

    .intro{
      display:flex;
      flex-direction: column;
      margin-left: 25%;
      margin-right: 25%;
    }

  }
/* ------------------------------------------------------ */


  @media only screen and (min-width: 1201px) {
    body {
      background-color: rgb(229, 236, 170);
    }
    .container2{
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows:minmax(250px, 370px);
      column-gap: 1.5em;
      row-gap: 1.5em;
    }

    .intro{
      display:flex;
      flex-direction: column;
      margin-left: 35%;
      margin-right: 35%;
    }

  }
