* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  padding: 5rem;
  background-color: #cfd0df;
  color: rgb(20, 15, 15);
  max-height: 60rem;
  text-align: center;
}

h1 {
  color: rgb(183, 190, 96);
  margin-bottom: 4rem;
}

p {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  font-size: x-large;
}