* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerOpen {
  padding: 5rem;
  background-color: #1d2ad9;
  color: rgb(39, 221, 42);
  max-height: 70rem;
  text-align: center;
}

h1 {
  margin-bottom: 4rem;
}

p {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  font-size: x-large;
}